# Python Environment
.venv/

# Python Bytecode
__pycache__/
*.pyc
*.pyo

# Packaging Metadata
pympeg.egg-info/

# Testing and Static Analysis Caches
.pytest_cache/

# Personal
.data/
*.sublime-workspace
